.card {
    margin-bottom: 1.5rem;
    position: relative;

    &-content {
        height: 100%;
        padding-top: 0.5rem;

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        &__drag {
            cursor: grab;
            flex-grow: 1;
        }

        &__delete {
            margin: 0;
        }

        &__dev_info {
            display: flex;
            gap: 0.5rem;
        }
    }
}
