@import "vanilla-framework/scss/settings";

.card {
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;

    &-content {
        width: 100%;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;

        .p-card__content {
            cursor: pointer;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        &--selectable {
            cursor: pointer;

            &:hover {
                box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
            }

            &:focus-visible {
                outline: 2px solid var(--vf-color-focus);
                outline-offset: 2px;
            }
        }

        &__drag {
            cursor: grab;
            flex-grow: 1;
        }

        &__delete {
            margin: 0;
        }

        &__dev_info {
            gap: 0.5rem;
        }

        hr {
            margin: $sp-small 0 0;
        }

        &__reason {
            flex: 1;
            height: 100%;
            padding-top: $sp-small;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: $sp-small;

            p {
                margin: 0;
            }
        }

        &__signals {
            display: flex;
            flex-wrap: wrap;
            gap: $sp-x-small;

            > * {
                margin: 0;
            }
        }
    }
}
