@import "vanilla-framework/scss/settings";

.card {
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;

    &-content {
        width: 100%;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: column;

        .p-card__content {
            cursor: pointer;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        &__drag {
            cursor: grab;
            flex-grow: 1;
        }

        &__delete {
            margin: 0;
        }

        &__dev_info {
            display: flex;
            gap: 0.5rem;
        }

        hr {
            margin: $sp-small 0 0;
        }

        .u-line-clamp {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__reason {
            flex: 1;
            height: 100%;
            padding-top: $sp-small;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: $sp-small;

            p,
            [class*="p-chip"] {
                margin: 0;
            }
        }

        &__signals {
            display: flex;
            flex-wrap: wrap;
            gap: $sp-x-small;
        }
    }
}
