<li>
  <div class="p-card">
    <div style="display: flex; justify-content: space-between">
      <div style="display: flex; gap: 12px">
        <img
          src="{{ snap.icon }}"
          alt="{{ snap.name }}"
          style="height: 50px"
          class="u-icon"
        />

        <h4>
          <a href="https://snapcraft.io/{{ snap.name }}" target="_blank"
            >{{ snap.name }}</a
          >
        </h4>
      </div>
      <form
        action="{{ url_for('dashboard.exclude_snap') }}"
        method="post"
        style="margin: 0"
      >
        <input type="hidden" name="snap_id" value="{{ snap.snap_id }}" />
        <input type="hidden" name="category" value="{{ category }}" />
        <button type="submit" class="p-button--negative has-icon">
          <i class="p-icon--delete is-dark"></i><span>Exclude</span>
        </button>
      </form>
    </div>
    <p class="card__content u-truncate">{{ snap.summary }}</p>
  </div>
</li>
