<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/d4ca039f-favicon_16px.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/841d0bcf-favicon_32px.png" sizes="32x32" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Snap Recommendation</title>
  <script type="module" crossorigin src="/index-BuhQLBxq.js"></script>
  <link rel="stylesheet" crossorigin href="/index-tn0RQdqM.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>