.snap-search {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10;
    margin-bottom: 1.5rem;

    &__input {
        margin-bottom: 0;
    }

    &__list {
        position: absolute;
        top: 100%;
        width: 500px;
        background-color: #fff;
        border: 1.5px solid #d9d9d9;
        height: 50vh;
        overflow: auto;
    }

    &__spinner {
        padding-right: 0.5rem;
    }

    &__item {
        cursor: pointer;
        border-bottom: 1.5px solid #d9d9d9;
        padding: 1rem;
        display: flex;
        flex-direction: row;

        &-img {
            margin-right: 0.5rem;
        }
    }
}